div{
	width: 900px;
}
h1{
	font-size: 40px;
}
a{
	background-color: rgb(204,204,204);
	color: black;
	display: block;
	margin-top: 40px;
	width: 200px;
	height: 20px;
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
	border: 1px solid black;
}
